---
import "@fontsource-variable/onest";

import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";

import { getTranslations } from "../utils/i18n";

const t = getTranslations(Astro.currentLocale);

// Helper function to determine the language
---

<!doctype html>
<html lang={Astro.currentLocale}>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={t.general.page_description}>
    <title>{t.general.page_title}</title>
  </head>

  <!-- <h1>{translations.welcome}</h1>
  <p>{translations.description}</p> -->
  <div class="relative h-[100vh] w-full bg-slate-950" >
    <div
      class="absolute main-content-container bottom-0 left-0 right-0 top-0 px-8 bg-[radial-gradient(circle_890px_at_50%_200px,#001d32,#000)] overflow-auto"

    >
      <body class="w-full max-w-[1120px] px-8" >
        <Header />

        <div class="w-full mx-auto max-w-[820px]">
          <slot />
        </div>

		<Footer />
      </body>
    </div>

    <style>
      :root {
        color-scheme: light dark;
	}
	.main-content-container {scroll-behavior: smooth;}
	html {
        font-family: "onest variable", system-ui, sans-serif;
      }
      body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100vh;
      }

	  @media (prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	  }
    </style>
  </div>
</html>
